.main{
  float: center;
  box-shadow: 2px 2px 4px;
  background-color: #fff;
  margin: 0% 5%;
  border: solid;
  border-radius: 20px;
  border-width: 5px;
  border-color: #008080;
  padding: 5%;
}
.main ul{
list-style: none;  
}
.main ul li{
  border-bottom: solid 10px #aaaaaa;
  display: block;
}
.main ul li{
  transition-property: border,background-color;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 5px;
  color: #202020;
  display: block;
}
.main ul li:hover{
  border-left: solid 10px #40803b;
  background-color: #ffffff;
 display: block;
}
body{
  background-color: #c0c0c0;
}
h2{
padding-top: .5em;
padding-bottom: .5em;
padding-left: .5em;
margin-bottom: 2em;
border-left: 20px solid #4169e1;/* 線 */
background-color: #f0f8ff;/* 背景色 */
color: #772d6f;/* フォント色 */
  font-size: 1.5em;/* フォントサイズ */
font-weight: bold;/* フォント太さ */   
padding-top: .5em;
padding-bottom: .5em;
margin-bottom: 2em;
border-bottom: solid 3px #4169e1;/* 線 */
}
.header{
list-style: none;
position
}
