.main{
  float: center;
  box-shadow: 2px 2px 4px;
  background-color: #fff;
  margin: 0% 5%;
  border: solid;
  border-radius: 20px;
  border-width: 5px;
  border-color: #008080;
  padding: 5%;
}
.main ul{
list-style: none;  
}
.main ul li{
  border-bottom: solid 10px #aaaaaa;
  display: block;
}
.main ul li{
  transition-property: border,background-color;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 5px;
  color: #202020;
  display: block;
}
.main ul li:hover{
  border-left: solid 10px #40803b;
  background-color: #ffffff;
 display: block;
}
body{
  background-color: #c0c0c0;
}
h2{
padding-top: .5em;
padding-bottom: .5em;
padding-left: .5em;
margin-bottom: 2em;
border-left: 20px solid #4169e1;/* 線 */
background-color: #f0f8ff;/* 背景色 */
color: #772d6f;/* フォント色 */
  font-size: 1.5em;/* フォントサイズ */
font-weight: bold;/* フォント太さ */   
padding-top: .5em;
padding-bottom: .5em;
margin-bottom: 2em;
border-bottom: solid 3px #4169e1;/* 線 */
}
.header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ff00ff;
    box-shadow: 2px 2px 4px #ccc;
	height: 2;
}
.header ul{
    list-style: none;
}
.header ul li{
    padding: 1;
	float: left;
}
.header ul li a{
    text-decoration: none;
    color: #fff;
    background-color: #ff00ff;
    padding: 14px;
    clear: left;
    float: top;
}
.header ul li a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #ff44ff;
    padding: 14px;
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt input[type=text]:focus + i {
	color: #da3c41;
}

